@CHARSET "UTF-8";

/* Global Tags */

body{
	font-family: verdana, sans-serif;
	margin: 0;
	padding: 0;
}
table {
	border: solid 1px #000;
	border-spacing: 0px;
}
tr:nth-child(odd) {
	background: #dfe9f2
}
th, td {
	padding : 3px;
	text-align: center;
	font-size: 13px;
}
th {
	background: #0d5195;
	border-bottom: solid 1px #000;
	border-left: solid 1px #000;
	color: #fff;
}
th:first-child {
	border-left: none !important;
}
td {
	border-bottom: solid 1px #666;
	border-left: solid 1px #ccc;
	font-family: "Courier New";
}
tr:nth-child(odd) td {
	background: #dfe9f2;
	border-left: solid 1px #afb9c2;
}
td:first-child {
	border-left: none !important;
}
tr:last-child td {
	border-bottom: none !important;
}
.name {
	text-align: left;
}
h1 {
	color: #0d5196;
	margin: 0;
	padding: 10px;
	text-align: right;
}
h2 {
	color: #0d5196;
}

/* Conteners */

#header img {
	float: left;
	display: block;
}
#menu {
	background: #fd9900;
	border-bottom: solid 1px #000;
	border-top: solid 1px #000;
	clear: both;
	padding: 3px;
}
#menu ul {
	margin: 0;
	padding: 0;
}
#menu li {
	display: inline;
	font-size: 12px;
	list-style-type: none;
	margin: 0;
	padding: 3px 8px;
}
#menu li a {
	color: #222;
	font-weight: bold;
	text-decoration: none;
}
#menu li a:hover,
.active {
	color: #fff !important;
}
#content {
	padding: 0 10px;
	margin: 0 auto;
}
#footer {
	background: #fd9900;
	border: solid 1px #000;
	font-size: 12px;
	margin: 20px 0 0 0;
	padding: 3px;
	text-align: center;
}

/* Class */
.lvl1 {
	color: #090; /* green */
}
.lvl2 {
	color: #00c; /* blue */
}
.lvl3 {
	color: #666; /* grey */
}
.lvl4 {
	color: #f33; /* red */
}
.code {
	margin: 10px;
	border: solid 1px #000;
	background: #ffc;
	height: 400px;
	overflow: auto;
}
img.icon {
	vertical-align: middle;
}
