{% extends "layout.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <dataflow>
        <h2><a class="dataflowTitle" href="{{path('dataflow')}}">Lien vers Dataflow</a></h2>
    </dataflow>
{% endblock %}
