.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

.dataflowTitle:hover, .dataflowTitle:focus {
    text-decoration: none;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}

/***************************************************************************************/
/*************************************** Utilisateurs **********************************/
/***************************************************************************************/
h1.page-header{
    display : block;
    margin: 25px 0 0 50px;
}

.userDropdown{
    color : black;
}
